pre {
	color: #000080; 
	margin-left: 90;
}
p {
	margin-left: 30;
}
ul {
	margin-left: 30;
}
blockquote {
	margin-left: 90;
}
table {
	margin-left: 30;
}
th {
	background-color: #F5F5F5; 
}
td {
	vertical-align: top;
}
h1 {
	background-color: #F5F5F5; 
	border-top-style: solid; 
	border-top-width: 1 
}
h2 {
	background-color: #F5F5F5; 
	border-top-style: solid; 
	border-top-width: 1 
}
h3 {
	background-color: #F5F5F5; 
	border-top-style: solid; 
	border-top-width: 1 
}
body {
	background-color: #FFFFFF; 
	color: #000000 
}

